<div id="post">
  <h3><%= link_to post.title, post %></h3>
  <p><%=h post.content %></p>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
</div>
